<html>
  <head>
   <title>Selamat Datang</title>
  </head>
  <body>
    <h1>Selamat Datang di Blog</h1>
  </body>
    <ul>
      <% @posts.each do |post| %>
        <li> Judul <%= Post.title %> Content: <%= Post.content %></li>
      <% end %>
    </ul>
</html>
