<% @posts.each do |post| %>
<h1 class="judul"><span><%= post.title %></span></h1>
<div class="content"><%= post.content %> <a href="posts/<%= post.id %>" class="lengkap">Baca Selengkapnya</a></div>
<% end %>